@import 'vars';
@import 'fonts';
@import 'global';

// HEADER

.header {
    background-color: #fff;
}
.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
.header__text {
    margin-left: auto;
    span {
        color: $red-color;
    }
}
.header__btn {
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.header__btn-register {
    background-color: $red-color;
    margin-left: 7px;
    &.account--on {
        display: none;
    }
}
.header__btn-login {
    background-color: $green-color;
    &.account--on {
        display: none;
    }
}
.header__btn-logout {
    background-color: $red-color;
    display: none;
    &.account--on {
        display: block;
    }
}
.header__menu {
    background-color: $bg;
}
.menu {
    height: 60px;
    display: flex;
    align-items: center;
}
.menu__list {
    li {
        display: inline-block;
        & + li {
            margin-left: 30px;
        }
    }
    a {
        color: #fff;
        font-size: 14px;
    }
}
.header__box {
    display: flex;
    align-items: center;
}
.header-circle {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #f4f6f5;
    margin: 28px 0 0 15px;
    position: relative;
    &.account--on {
        display: block;
    }
    &::before {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 14px;
        color: #A0A0A0;
    }
    span {
        position: absolute;
        top: -7px;
        right: -7px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        font-size: 11px;
        line-height: 17px;
        text-align: center;
        color: #fff;
    }
}
.notifications {
    display: none;
    span {
        background-color: $yellow;
    }
}
.messages {
    display: none;
    span {
        background-color: $orange;
    }
}
.basket {
    margin-right: 25px;
    span {
        background-color: $green-color;
    }
}
.user__box {
    display: none;
    position: relative;
    height: 90px;
    &:hover {
        .user__menu {
            height: auto;
            padding: 20px 0 10px 0;
            border-width: 1px;
            overflow: auto;
        }
    }
    &.account--on {
        display: block;
    }
}
.user {
    margin-right: 30px;
    padding-right: 25px;
    min-width: 145px;
    position: relative;
    top: 21px;
    &__inner {
        display: flex;
        align-items: center;
    }
    &-photo {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        overflow: hidden;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &-info {
        font-size: 14px;
        margin-left: 14px;
    }
    &-name {
        @include f500;
        color: #222;
    }
    &-money {
        @include f700;
        color: $green-color;
    }
    &::before {
        content: '\f107';
        font-size: 16px;
        font-family: 'icomoon';
        color: #707070;
        top: 0;
        right: 0;
        position: absolute;
    }
}

.user__menu {
    background-color: #fff;
    width: 158px;
    position: absolute;
    padding: 0;
    border: 0px solid #ccc;
    top: 90px;
    z-index: 1;
    height: 0;
    overflow: hidden;
    transition: all .3s;
    a {
        font-size: 12px;
        color: #546E7A;
        margin-bottom: 10px;
        padding: 0 25px 0 35px;
        position: relative;
        &::before {
            content: '\f105';
            font-size: 14px;
            color: $green-color;
            font-family: 'icomoon';
            position: absolute;
            left: 20px;
        }
    }
}

.basket__box,
.notifications__box,
.messages__box {
    height: 90px;
    position: relative;
    &:hover {
        .basket__menu,
        .notifications__menu,
        .messages__menu {
            height: auto;
            border-width: 1px;
            overflow: hidden;
        }
        .basket__item,
        .notifications__item,
        .messages__item {
            padding: 20px;
        }
        .header-circle::before {
            color: $bg;
        }
    }
}
.basket__box {
    &:hover {
        .basket__total {
            padding: 15px;
        }
    }
}
.basket__menu,
.notifications__menu,
.messages__menu {
    background-color: #fff;
    border: 0px solid #ccc;
    position: absolute;
    top: 90px;
    right: 0;
    width: 268px;
    z-index: 4;
    height: 0;
    overflow: hidden;
}
.basket__item,
.notifications__item,
.messages__item {
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #E0E0E0;
    transition: all .3s;
    &-info {
        line-height: 20px;
    }
}
.basket__item {
    &-img {
        width: 73px;
        height: 57px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 15px;
    }
    &-title {
        @include f500;
        color: $bg;
        line-height: 15px;
        padding-bottom: 2px;
    }
    &-theme {
        font-size: 12px;
        color: $green-color;
    }
    &-price {
        @include f500;
        font-size: 16px;
        color: #000;
    }
}
.notifications__item,
.messages__item {
    position: relative;
    .user__avatar {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-right: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &-title {
        font-weight: 400;
        font-family: 'Roboto-Regular', sans-serif;
        color: $green-color;
        font-size: 12px;
        padding-bottom: 6px;
        line-height: 15px;
    }
    &-data {
        font-size: 10px;
        color: #707070;        
    }
    &::before {
        position: absolute;
        top: 23px;
        right: 36px;
        font-size: 16px;
        color: #B0BEC5;
    }
    &.color--icon::before {
        color: $orange;
    }
}
.messages__item {
    &-username {
        @include f700;
        font-size: 12px;
        color: $bg;
    }
    &-title {
        padding-bottom: 0;
        line-height: 16px;
    }
}
.basket__total {
    padding: 0 15px;
    transition: all .3s;
    &-info {
        padding: 0 25px 0 15px;
        display: flex;
        justify-content: space-between;
        @include f700;
        color: $bg;
        margin-bottom: 10px;
    }
}
.basket__total-btn {
    @include f700;
    font-size: 14px;
    color: #fff;
    padding: 9px 10px;
    background-color: $green-color;
    width: 105px;
    text-align: center;
}
.total-btn-checkout {
    background-color: $red-color;
    width: 123px;
    margin-left: 3px;
}

// SEARCH

.search {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 530px;
    &.page-search {
        min-height: 230px;
        .search__inner {
            padding: 55px 0 65px;
            &-text {
                margin-bottom: 30px;
            }
        }
    }
}
.search__inner {
    @include f500;
    padding: 140px 0 100px;
    text-align: center;
    color: #fff;
    &-title {
        font-size: 48px;
        line-height: 72px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    &-text {
        font-size: 20px;
        line-height: 30px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    &-form {
        max-width: 670px;
        position: relative;
        font-size: 14px;
        font-weight: 500;
        margin: 0 auto;
        input {
            display: block;
            width: 100%;    
            height: 56px;
            padding: 0 60px 0 25px;
            border-radius: 4px;
            color: #000;
            border: none;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            &::placeholder {
                color: #90a4ae;
            }
        }
        button {
            position: absolute;
            top: 16px;
            right: 15px;
            border: none;
            background-color: transparent;
        }
    }
}

// PRODUCTS

.products {
    padding: 70px 0px 5px;
    background-color: $grey-color;
}
.products__inner-btn, .products__bottom-btn {
    text-align: center;
    margin-bottom: 55px;
    button {
        background-color: #fff;
        border: none;
        padding: 12px 25px;
        @include f500;
        font-size: 14px;
        color: $bg;
        cursor: pointer;
        &.mixitup-control-active {
            background-color: $red-color;
            color: #fff;
        }
    }
}
.products__bottom-btn {
    button {
        font-size: 16px;
        font-weight: 400;
        font-family: 'Roboto-Regular', sans-serif;
        margin: 46px 5px 0 5px;
    }
}
.products__inner-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product__item {
    max-width: 442px;
    width: 100%;
    @include f500;
    color: $bg;
    box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
    margin-bottom: 32px;
    &-photo {
        min-height: 250px;
        display: block;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 30px;
        min-height: 90px;
        background-color: #fff;
    }
    &-name{
        max-width: 310px;
    }
    &-title {
        font-size: 18px;
        display: block;
        color: $bg;
    }
    &-category {
        font-size: 14px;
        color: $green-color;
    }
    &-price {
        font-size: 20px;
        font-weight: 700;
    }
    &-info {
        background-color: #fff;
        min-height: 70px;
        border-top: 1px solid #E7ECF2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
    }
    &-author {
        font-size: 14px;
        display: flex;
        align-items: center;
        max-width: 245px;
        span {
            min-width: 30px;
            height: 30px;
            border-radius: 50%;
            display: inline-block;
            margin-right: 15px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-color: #ccc;
        }
    }
    &-stars {
        font-family: 'Roboto-Regular', sans-serif;
        font-size: 12px;
        color: #B0BEC5;
        span {
            color: $bg;
        }
    }
}

// PRODUCTS SLIDER

.products__slider {
    padding: 70px 0;
    .slick-dots {
        text-align: center;
        margin-top: 15px;
        li {
            display: inline-block;
            margin: 0 4px;
            &.slick-active {
                button {
                    background-color: $green-color;
                }
            }
            button {
                font-size: 0;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                border: none;
                cursor: pointer;
            }
        }
    }
}

// ADVANTAGES

.advantages {
    background-color: $bg;
    padding: 70px 0px;
}
.advantages__title {
    color: #fff;
}
.advantages__inner {
    display: flex;
    justify-content: space-between;
}
.advantages__item {
    max-width: 370px;
    text-align: center;
    padding: 0px 15px;
    &:hover {
        .advantages__item-image {
            background-color: $green-color;
            g {
                fill: #fff;
            }
        }
        .advantages__item-title {
            color: $green-color;
        }
    }
    &-image {
        width: 114px;
        height: 114px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px;
        transition: all .3s linear;
    }
    &-title {
        @include f500;
        font-size: 24px;
        color: #fff;
        margin-bottom: 20px;
        transition: all .3s linear;
    }
    &-text {
        color: #B0BEC5;
    }
}
.advantages-icon1 {
    svg {
        width: 60px;
    }
}
.advantages-icon2 {
    svg {
        width: 71px;
    }
}
.advantages-icon3 {
    svg {
        width: 86px;
    }
}

// AUTHORS

.authors {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 760px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__box {
        max-width: 650px;
        width: 100%;
        min-height: 216px;
        background-color: $green-color;
        display: flex;
        justify-content: center;
        align-items: center;
        &-title {
            font-size: 30px;
            line-height: 36px;
            color: #fff;
            max-width: 265px;
            margin-right: 45px;
            span {
                @include f700;
            }
        }
        &-link {
            font-size: 18px;
            line-height: 30px;
            color: $bg;
            background-color: #fff;
            padding: 20px 40px;
        }
    }
}

// TUTORIALS


.tutorials {
    padding: 70px 0 90px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
}
.tutorials__item {
    max-width: 370px;
    width: 100%;
    &-image {
        min-height: 270px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &-title {
        @include f700;
        font-size: 24px;
        color: $bg;
        text-align: center;
        padding: 35px 10px;
        background-color: #F8F8F8;
    }
}

// FOOTER

.footer {
    background-color: $bg;
    &__inner {
        padding: 70px 0;
        display: flex;
        justify-content: space-between;
    }
    &__col {
        max-width: 270px;
        width: 100%;
        &-menu {
            max-width: 220px;
        }
        &-title {
            font-size: 22px;
            font-weight: 700;
            color: #fff;
            font-family: 'Raleway', sans-serif;
            padding-bottom: 23px;
            margin-bottom: 30px;
            position: relative;
            &::after {
                content: '';
                width: 51px;
                height: 3px;
                background-color: $green-color;
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
        &-text {
            color: #B7C3C8;
            margin-bottom: 25px;
        }
        &-list {
            li {
                position: relative;
                &::before {
                    content: '\f105';
                    position: absolute;
                    font-family: 'icomoon';
                    font-size: 22px;
                    color: $green-color;
                    left: 0;
                }
            }
            a {
                color: #B7C3C8;
                padding-left: 20px;
                margin-bottom: 10px;
            }
        }
        
    }
    &__social {
        margin-bottom: 25px;
        li {
            display: inline-block;
        }
        li + li {
            padding-left: 7px;
        }
        a {
            width: 28px;
            height: 28px;
            background-image: url(../images/css_sprites.png);
        }
        .twitter-icon {
            background-position: -28px 0;
        }
        .youtube-icon {
            background-position: -56px 0;
        }
        .pinterest-icon {
            background-position: -84px 0;
        }
        .linkedin-icon {
            background-position: -112px 0;
        }
    }
    &__form {
        position: relative;
        &-title {
            font-size: 20px;
            color: #fff;
            margin-bottom: 15px;
        }
        input {
            width: 100%;
            height: 40px;
            background-color: #2F3C43;
            border: none;
            padding: 0 50px 0 15px;
            color: #fff;
            display: block;
            font-size: 14px;
            &::placeholder {
                color: #697378;
            }
        }
        button {
            position: absolute;
            width: 40px;
            height: 40px;
            background-color: $green-color;
            border: none;
            cursor: pointer;
            right: 0;
            bottom: 0;
            &::before {
                content: '\f124';
                position: absolute;
                font-family: 'icomoon';
                font-size: 22px;
                color: #fff;
                top: 8px;
                right: 11px;
            }
        }
    }
    &__info {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        color: #fff;
        padding: 0 25px;
        margin-bottom: 20px;
        position: relative;
        &::before {
            content: '\f041';
            position: absolute;
            font-family: 'icomoon';
            font-size: 22px;
            color: $green-color;
            left: 0;
        }
        &.phone-icon::before {
            content: '\f095';
        }
    }
    &__copy {
        padding: 25px 0;
        border-top: 1px solid #424D53;
        &-text {
            text-align: center;
            color: #919699;
        }
    }
}

// PRODUCT PAGE

.product-page__inner {
    display: flex;
    margin-bottom: 80px;
}
.aside__item {
    width: 270px;
    background-color: #fff;
    border: 1px solid #D7D7D7;
    margin-bottom: 30px;
    padding: 0px 30px 25px;
    &-title {
        @include f700;
        font-size: 20px;
        color: $bg;
        padding: 20px 0;
        border-bottom: 1px solid #DDE3E8;
        margin-bottom: 30px;
    }
    .product__item {
        box-shadow: none;
        border-bottom: 1px solid #DDE3E8;
        margin-bottom: 0;
        padding: 25px 0;
    }
    .product__item-photo {
        min-height: 120px;
    }
    .product__item-content {
        min-height: 70px;
        padding: 0;
    }
    .product__item-title {
        font-size: 16px;
    }
    .product__item-price {
        font-size: 16px;
    }
    .product__item-info {
        border: none;
        padding: 0;
        min-height: 0;
    }
    .product__item-author {
        span {
            margin-right: 10px;
        }
    }
    .jq-ry-container {
        padding: 0;
        margin-right: 0;
    }
}
.aside__product-items {
    .product__item:first-child {
        padding-top: 0;
    }
    .product__item:last-child {
        border: none;
    }
}
.aside__item-btn {
    @include f500;
    color: #fff;
    padding: 15px;
    background-color: $green-color;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
}
.category__list {
    color: #90A4AE;
    li {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding-left: 20px;
        padding-bottom: 20px;
        &::before {
            content: '\f105';
            position: absolute;
            font-family: 'icomoon';
            font-size: 22px;
            color: $green-color;
            left: 0;
        }
        a {
            color: $bg;
        }
    }
}
.price-range__btn {
    position: relative;
    &::before {
        position: absolute;
        content: '\f002';
        font-family: 'icomoon';
        font-size: 18px;
        color: #fff;
        left: 58px;
        top: 12px;
    }
}


.irs--round {
    margin-bottom: 20px;
}
.irs--round .irs-handle {
    width: 16px;
    height: 16px;
    border-color: $green-color;
    border-radius: 50%;
    top: 0px;
    cursor: pointer;
}
.irs--round .irs-from, .irs--round .irs-single, .irs--round .irs-to {
    color: #78909C;
    background-color: transparent;
    font-size: 15px;
    text-shadow: none;
    padding: 0;
    border-radius: 0;
}
.irs-from, .irs-single, .irs-to {
    top: 25px;
}
.irs--round .irs-line {
    height: 5px;
    top: 6px;
}
.irs--round .irs-bar {
    height: 5px;
    top: 6px;
    background-color: #37474F;
}
.irs--round .irs-from::before, .irs--round .irs-single::before, .irs--round .irs-to::before {
    display: none;
}

.product-page__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-page__filter {
    width: 100%;
    background-color: #fff;
    border: 1px solid #D7D7D7;
    height: 60px;
    padding: 0px 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #707070;
    button {
        font-size: 16px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 7px;
    }
}
.product-page__filter-left {
    font-size: 14px;
    display: flex;
    align-items: center;
}
button.icon-sort-amount-desc {
    font-size: 18px;
    color: #455A64;
}
button.icon-unsorted {
    font-size: 18px;
    color: #707070;
}
.product-page__filter-right {
    button {
        color: #90A4AE;
        &.filter-active {
            color: $green-color;
        }
    }
}
.product-page__content {
    max-width: 869px;
    width: 100%;
    margin-left: 30px;
    .product__item {
        width: 270px;
        margin-bottom: 33px;
        transition: all .25s;
    }
    .product__item-photo {
        min-height: 180px;
    }
    .product__item-content {
        padding: 0px 20px;
    }
    .product__item-title {
        font-size: 16px;
    }
    .product__item-info {
        padding: 0px 20px;
        min-height: 65px;
    }
    .rate-stars {
        margin-right: 5px;
    }
    .jq-ry-container {
        padding: 0;
    }
    .product__item-author {
        span {
            margin-right: 10px;
        }
    }
}

.pagination__list {
    li {
        display: inline-block;
        & + li {
            margin-left: 8px;
        }
    }
    a, span {
        width: 43px;
        height: 38px;
        background-color: #fff;
        box-shadow: 0 1px 2px #CDD6DE;
        @include f500;
        font-size: 16px;
        color: $bg;
        display: flex;
        justify-content: center;
        align-items: center;
        &.pagination-active {
            background-color: $red-color;
            color: #fff;
        }
    }
}

.product__item {
    &.list {
        max-width: 100%;
        width: 100%;
        .product__item-photo {
            float: left;
            width: 240px;
            min-height: 100%;
        }
        .product__item-description {
            display: block;
            font-size: 14px;
            color: #70838D;
            margin-top: 10px;
        }
        .product__item-sales {
            display: block;
            font-size: 13px;
            color: #AEB4BB;
            margin-top: 23px;
        }
        .product__item-name {
            max-width: 450px;
            padding: 20px 0px;
        }
        .product__item-price {
            font-size: 30px;
        }
        .product__item-rating {
            display: flex;
            justify-content: space-between;
            align-items: center;
            & > div, a {
                padding: 0 25px 0 55px;

            }
            & > div:last-child {
                padding-right: 0;
            }
            & > div:first-child {
                padding-left: 0;
                line-height: 14px;
            }
        }
        .product__item-comments, .product__item-likes {
            display: block;
            color: #B0BEC5;
            font-size: 12px;
            font-weight: 400;
            font-family: 'Roboto-Regular', sans-serif;
            border-left: 1px solid #AEB4BB;
            position: relative;
            span {
                color: $bg;
            }
            &::before {
                position: absolute;
                top: -2px;
                left: 23px;
                color: $green-color;
                font-size: 16px;
            }
        }
    }
}
.product__item-description,
.product__item-sales,
.product__item-comments,
.product__item-likes {
    display: none;
}

// product-one

.product-one {
    padding-bottom: 100px;
}
.product-one__inner {
    display: flex;
}
.product-one__content {
    max-width: 869px;
    width: 100%;
    margin-right: 30px;
}
.product-one__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #D7D7D7;
    margin-bottom: 33px;
}
.product-one__image {
    max-width: 829px;
    width: 100%;
    height: 422px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product-one__title {
    @include f500;
    font-size: 30px;
    line-height: 40px;
    color: $bg;
    margin-bottom: 22px;
}
.product-one__description {
    font-size: 16px;
    color: #707070;
    margin-bottom: 35px;
}
.product-one__links-box {
    margin-bottom: 55px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.product-one__links {
    a {
        color: $grey-color;
        font-size: 16px;
        padding: 13px 10px;
        width: 155px;
        @include f500;
        & + a {
            margin-left: 15px;
        }
    }
}
.link-preview {
    background-color: $red-color;
}
.link-screenshots {
    background-color: #455A64;
}
.link-documentation {
    background-color: $green-color;
}
.product-one__social {
    display: flex;
    a {
        width: 54px;
        height: 50px;
        position: relative;
        & + a {
            margin-left: 3px;
        }
        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 18px;
            color: #fff;
        }
    }
}
.icon-facebook {
    background-color: #6370B6;
}
.icon-twitter {
    background-color: #64B5F6;
}
.icon-linkedin {
    background-color: #4F71CE;
}
.icon-pinterest-p {
    background-color: #D32F2F;
}

.product-one__tabs {
    margin-bottom: 50px;
}
.tabs {
    display: flex;
    border: 1px solid #D7D7D7;
}
.tab {
    @include f500;
    font-size: 16px;
    color: #78909C;
    padding: 20px 0;
    background-color: #fff;
    width: 100%;
    text-align: center;
    cursor: pointer;
    & + .tab {
        border-left: 1px solid #D7D7D7;
    }
    &.active {
        color: $bg;
        border-bottom: 3px solid $green-color;
    }
}
.tabs__content {
    background-color: #fff;
    border: 1px solid #D7D7D7;
    border-top: none;
    padding: 35px 40px 60px;
}
.tab-item {
    display: none;
    &:first-child {
        display: block;
    }
}
.tab-item__list {
    column-count: 2;
    font-size: 16px;
    color: #707070;
    li {
        position: relative;
        padding-left: 15px;
        max-width: 250px;
        width: 100%;
        margin-bottom: 15px;
        &::before {
            content: '\f105';
            position: absolute;
            font-family: 'icomoon';
            font-size: 22px;
            color: #8bc34a;
            left: 0;
        } 
    }
}

.product-one__more-title {
    @include f500;
    font-size: 18px;
    color: $bg;
    background-color: #fff;
    padding: 20px 25px;
    border: 1px solid #D7D7D7;
    margin-bottom: 30px;
}
.product-one__more-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.mini-product {
    width: 270px;
    height: 90px;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 1px 2px #CDD6DE;
    margin-bottom: 27px;
    &__image {
        width: 100px;
        height: 90px;
        margin-right: 20px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    &__title {
        @include f500;
        font-size: 14px;
        color: $bg;
    }
    &__theme {
        font-size: 12px;
        color: $green-color;
    }
    &__price {
        @include f700;
        font-size: 18px;
        color: $bg;
    }
}


.product__price-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.product__price {
    color: $red-color;
    @include f500;
    font-size: 22px;
}
.product__price-btn {
    padding: 15px 5px;
    border: none;
    background-color: #546E7A;
    width: 100%;
    display: block;
    text-align: center;
    box-shadow: 0 1px 2px #455A64;
    margin-bottom: 8px;
    @include f700;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
.cart-icon {
    background-color: $green-color;
    &::before {
        content: '\f07a';
        font-family: 'icomoon';
        font-size: 16px;
        padding-right: 8px;
    }
}
.heart-icon {
    background-color: #42A5F5;
    &::before {
        content: '\f08a';
        font-family: 'icomoon';
        font-size: 16px;
        padding-right: 8px;
    }
}
.product-information__line {
    color: #70838D;
    font-size: 14px;
    margin-bottom: 10px;
    span {
        @include f500;
        color: $bg;
    }
}
.product-information__title {
    margin-bottom: 20px;
}
.product__sales {
    @include f300;
    font-size: 16px;
    color: #707070;
    span {
        @include f700;
        font-size: 20px;
        color: $bg;
        padding-right: 14px;
    }
    &::before {
        content: '\f07a';
        font-family: 'icomoon';
        font-size: 20px;
        padding-right: 15px;
        color: #A6B5BB;
    }
}
.product__sales-item {
    padding: 20px 30px;
}
.product-author__title {
    margin-bottom: 25px;
}
.product-author {
    display: flex;
    margin-bottom: 25px;
    &__avatar {
        width: 73px;
        height: 63px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 17px;
    }
    &__name {
        font-size: 18px;
        color: $bg;
        margin-bottom: 10px;
    }
    &__profile {
        color: #707070;
        font-size: 13px;
        padding: 2px 11px;
        border: 1px solid #ccc;
    }
}
.awards__list {
    li {
        display: inline-block;
        position: relative;
        width: 34px;
        height: 37px;
        text-align: center;
        & + li {
            margin-left: 4px;
        }
        &::before {
            position: absolute;
            color: #fff;
            font-size: 20px;
            top: 7px;
            right: 0;
            left: 0;
        }
    }
}







@import 'media';