@import 'vars';
@import 'fonts';
@import 'global';

// HEADER

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
.header__text {
    margin-left: auto;
    margin-right: 50px;
    span {
        color: $red-color;
    }
}
.header__btn {
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.header__btn-register {
    background-color: $red-color;
    margin-left: 7px;
}
.header__btn-login {
    background-color: $green-color;
}
.header__menu {
    background-color: $bg;
}
.menu {
    height: 60px;
    display: flex;
    align-items: center;
}
.menu__list {
    li {
        display: inline-block;
        & + li {
            margin-left: 30px;
        }
    }
    a {
        color: #fff;
        font-size: 14px;
    }
}

// SEARCH

.search {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 530px;
    &.page-search {
        min-height: 230px;
        .search__inner {
            padding: 55px 0 65px;
            &-text {
                margin-bottom: 30px;
            }
        }
    }
}
.search__inner {
    @include f500;
    padding: 140px 0 100px;
    text-align: center;
    color: #fff;
    &-title {
        font-size: 48px;
        line-height: 72px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    &-text {
        font-size: 20px;
        line-height: 30px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    &-form {
        max-width: 670px;
        position: relative;
        font-size: 14px;
        font-weight: 500;
        margin: 0 auto;
        input {
            display: block;
            width: 100%;    
            height: 56px;
            padding: 0 60px 0 25px;
            border-radius: 4px;
            color: #90a4ae;
            border: none;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            &::placeholder {
                color: #90a4ae;
            }
        }
        button {
            position: absolute;
            top: 16px;
            right: 15px;
            border: none;
            background-color: transparent;
        }
    }
}

// PRODUCTS

.products {
    padding: 70px 0px 5px;
    background-color: $grey-color;
}
.products__inner-btn, .products__bottom-btn {
    text-align: center;
    margin-bottom: 55px;
    button {
        background-color: #fff;
        border: none;
        padding: 12px 25px;
        @include f500;
        font-size: 14px;
        color: $bg;
        cursor: pointer;
        &.mixitup-control-active {
            background-color: $red-color;
            color: #fff;
        }
    }
}
.products__bottom-btn {
    button {
        font-size: 16px;
        font-weight: 400;
        font-family: 'Roboto-Regular', sans-serif;
        margin: 46px 5px 0 5px;
    }
}
.products__inner-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product__item {
    max-width: 442px;
    width: 100%;
    @include f500;
    color: $bg;
    box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
    margin-bottom: 32px;
    &-photo {
        min-height: 250px;
        display: block;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 30px;
        height: 90px;
        background-color: #fff;
    }
    &-name{
        max-width: 310px;
    }
    &-title {
        font-size: 18px;
        display: block;
        color: $bg;
    }
    &-category {
        font-size: 14px;
        color: $green-color;
    }
    &-price {
        font-size: 20px;
        font-weight: 700;
    }
    &-info {
        background-color: #fff;
        min-height: 70px;
        border-top: 1px solid #E7ECF2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
    }
    &-author {
        font-size: 14px;
        display: flex;
        align-items: center;
        max-width: 245px;
        span {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: inline-block;
            margin-right: 15px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-color: #ccc;
        }
    }
    &-stars {
        font-family: 'Roboto-Regular', sans-serif;
        font-size: 12px;
        color: #B0BEC5;
        span {
            color: $bg;
        }
    }
}

// PRODUCTS SLIDER

.products__slider {
    padding: 70px 0;
    .slick-dots {
        text-align: center;
        margin-top: 15px;
        li {
            display: inline-block;
            margin: 0 4px;
            &.slick-active {
                button {
                    background-color: $green-color;
                }
            }
            button {
                font-size: 0;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                border: none;
                cursor: pointer;
            }
        }
    }
}


// ADVANTAGES

.advantages {
    background-color: $bg;
    padding: 70px 0px;
}
.advantages__title {
    color: #fff;
}
.advantages__inner {
    display: flex;
    justify-content: space-between;
}
.advantages__item {
    max-width: 370px;
    text-align: center;
    padding: 0px 15px;
    &:hover {
        .advantages__item-image {
            background-color: $green-color;
            g {
                fill: #fff;
            }
        }
        .advantages__item-title {
            color: $green-color;
        }
    }
    &-image {
        width: 114px;
        height: 114px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px;
        transition: all .3s linear;
    }
    &-title {
        @include f500;
        font-size: 24px;
        color: #fff;
        margin-bottom: 20px;
        transition: all .3s linear;
    }
    &-text {
        color: #B0BEC5;
    }
}
.advantages-icon1 {
    svg {
        width: 60px;
    }
}
.advantages-icon2 {
    svg {
        width: 71px;
    }
}
.advantages-icon3 {
    svg {
        width: 86px;
    }
}


// AUTHORS

.authors {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 760px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__box {
        max-width: 650px;
        width: 100%;
        min-height: 216px;
        background-color: $green-color;
        display: flex;
        justify-content: center;
        align-items: center;
        &-title {
            font-size: 30px;
            line-height: 36px;
            color: #fff;
            max-width: 265px;
            margin-right: 45px;
            span {
                @include f700;
            }
        }
        &-link {
            font-size: 18px;
            line-height: 30px;
            color: $bg;
            background-color: #fff;
            padding: 20px 40px;
        }
    }
}

// TUTORIALS


.tutorials {
    padding: 70px 0 90px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
}
.tutorials__item {
    max-width: 370px;
    width: 100%;
    &-image {
        min-height: 270px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &-title {
        @include f700;
        font-size: 24px;
        color: $bg;
        text-align: center;
        padding: 35px 10px;
        background-color: #F8F8F8;
    }
}


// FOOTER

.footer {
    background-color: $bg;
    &__inner {
        padding: 70px 0;
        display: flex;
        justify-content: space-between;
    }
    &__col {
        max-width: 270px;
        width: 100%;
        &-menu {
            max-width: 220px;
        }
        &-title {
            font-size: 22px;
            font-weight: 700;
            color: #fff;
            font-family: 'Raleway', sans-serif;
            padding-bottom: 23px;
            margin-bottom: 30px;
            position: relative;
            &::after {
                content: '';
                width: 51px;
                height: 3px;
                background-color: $green-color;
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
        &-text {
            color: #B7C3C8;
            margin-bottom: 25px;
        }
        &-list {
            li {
                position: relative;
                &::before {
                    content: '\f105';
                    position: absolute;
                    font-family: 'icomoon';
                    font-size: 22px;
                    color: $green-color;
                    left: 0;
                }
            }
            a {
                color: #B7C3C8;
                padding-left: 20px;
                margin-bottom: 10px;
            }
        }
        
    }
    &__social {
        margin-bottom: 25px;
        li {
            display: inline-block;
        }
        li + li {
            padding-left: 7px;
        }
        a {
            width: 28px;
            height: 28px;
            background-image: url(../images/css_sprites.png);
        }
        .icon-twitter {
            background-position: -28px 0;
        }
        .icon-youtube {
            background-position: -56px 0;
        }
        .icon-pinterest {
            background-position: -84px 0;
        }
        .icon-linkedin {
            background-position: -112px 0;
        }
    }
    &__form {
        position: relative;
        &-title {
            font-size: 20px;
            color: #fff;
            margin-bottom: 15px;
        }
        input {
            width: 100%;
            height: 40px;
            background-color: #2F3C43;
            border: none;
            padding: 0 50px 0 15px;
            color: #fff;
            display: block;
            font-size: 14px;
            &::placeholder {
                color: #697378;
            }
        }
        button {
            position: absolute;
            width: 40px;
            height: 40px;
            background-color: $green-color;
            border: none;
            cursor: pointer;
            right: 0;
            bottom: 0;
            &::before {
                content: '\f124';
                position: absolute;
                font-family: 'icomoon';
                font-size: 22px;
                color: #fff;
                top: 8px;
                right: 11px;
            }
        }
    }
    &__info {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        color: #fff;
        padding: 0 25px;
        margin-bottom: 20px;
        position: relative;
        &::before {
            content: '\f041';
            position: absolute;
            font-family: 'icomoon';
            font-size: 22px;
            color: $green-color;
            left: 0;
        }
        &.phone-icon::before {
            content: '\f095';
        }
    }
    &__copy {
        padding: 25px 0;
        border-top: 1px solid #424D53;
        &-text {
            text-align: center;
            color: #919699;
        }
    }
}


// PRODUCT PAGE

.product-page__inner {
    display: flex;
    justify-content: space-between;
}
// .product-page__aside {

// }
.aside__item {
    width: 270px;
    background-color: #fff;
    border: 1px solid #D7D7D7;
    margin-bottom: 30px;
    padding: 0px 30px 25px;
    &-title {
        @include f700;
        font-size: 20px;
        color: $bg;
        padding: 20px 0;
        border-bottom: 1px solid #DDE3E8;
        margin-bottom: 30px;
    }
    .product__item {
        box-shadow: none;
        border-bottom: 1px solid #DDE3E8;
        margin-bottom: 0;
        padding: 25px 0;
    }
    .product__item-photo {
        min-height: 120px;
    }
    .product__item-content {
        height: 70px;
        padding: 0;
    }
    .product__item-title {
        font-size: 16px;
    }
    .product__item-price {
        font-size: 16px;
    }
    .product__item-info {
        border: none;
        padding: 0;
        min-height: 0;
    }
    .product__item-author {
        span {
            min-width: 30px;
            margin-right: 10px;
        }
    }
    .jq-ry-container {
        padding: 0;
        margin-right: 0;
    }
}
.aside__product-items {
    .product__item:first-child {
        padding-top: 0;
    }
    .product__item:last-child {
        border: none;
    }
}
.aside__item-btn {
    @include f500;
    color: #fff;
    padding: 15px;
    background-color: $green-color;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
}
.category__list {
    color: #90A4AE;
    li {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding-left: 20px;
        padding-bottom: 20px;
        &::before {
            content: '\f105';
            position: absolute;
            font-family: 'icomoon';
            font-size: 22px;
            color: $green-color;
            left: 0;
        }
        a {
            color: $bg;
        }
    }
}

.irs--round {
    margin-bottom: 20px;
}
.irs--round .irs-handle {
    width: 16px;
    height: 16px;
    border-color: $green-color;
    border-radius: 50%;
    top: 0px;
}
.irs--round .irs-from, .irs--round .irs-single, .irs--round .irs-to {
    color: #78909C;
    background-color: transparent;
    font-size: 15px;
    text-shadow: none;
    padding: 0;
    border-radius: 0;
}
.irs-from, .irs-single, .irs-to {
    top: 25px;
}
.irs--round .irs-line {
    height: 5px;
    top: 6px;
}
.irs--round .irs-bar {
    height: 5px;
    top: 6px;
    background-color: #37474F;
}
.irs--round .irs-from::before, .irs--round .irs-single::before, .irs--round .irs-to::before {
    display: none;
}